<header>
  <div class="banner"></div>
  <div class="header-content wrapper">
    <p class="page-title">📸 Celebrity Facial Analysis 2.0</p>
    <h1>What celebrity do you look like?</h1>
  </div>
</header>

<div class="wrapper upload-form">
  <p>Upload a picture of your face to find out!</p>
  <%= form_for @image_upload do |f| %>
    <%= f.file_field :image %>
    <%= f.submit "Submit my picture" %>
  <% end %>
</div>

<footer>
  <p>Created by <a href="https://twitter.com/jon_evans" target="_blank">Jon Evans</a> &amp; <a href="https://twitter.com/doodlemarks" target="_blank">Mark Peck</a>.</p>
</footer>
